.post-image-label{
    background-color: rgba(94, 90, 90, 0.834);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover{
        background-color: rgba(94, 90, 90, 1);
    }
}