.button {
    border: none;
    outline: none;
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:active {
        transform: scale(0.9);
    }
}

.primary-button {
    display: inline-block;
    border: none;
    outline: none;
    margin-top: 1rem;
    background: linear-gradient(to right, #ff007a, #ff40ac);
    color: white;
    padding: 1.1rem;
    border-radius: 18px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(255, 0, 122, 0.4);
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 15px 30px rgba(255, 0, 122, 0.5);
    }

    &:active {
        transform: scale(0.98);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}